body {
	--bg-1: #282828;
	--bg-2: #333;
	--bg-3: #444;
	--text-1: #eee;
	--text-2: #bbb;
	--text-3: #777;
	--slider-track: #666;
	--slider-thumb: #ccc;
	--live-thumb: #444;
	--shadow: rgba(0,0,0,0.5);
	--text-shadow: rgba(0,0,0,0.5);
	--glow: rgba(255,255,255,0.25);
}

body.light-theme {
	--bg-1: #eee;
	--bg-2: #ddd;
	--bg-3: #ccc;
	--text-1: #222;
	--text-2: #555;
	--text-3: #888;
	--slider-track: #999;
	--slider-thumb: #eee;
	--live-thumb: #eee;
	--shadow: rgba(0,0,0,0.25);
	--text-shadow: transparent;
	--glow: rgba(0,0,0,0.5);
}

body {
	margin: 0;
	margin-top: 116px;
	color: var(--text-2);
	background: var(--bg-2);
	font: 16px "Ubuntu Condensed";
	line-height: 1 !important;
	transition: background 0.8s;
}

* {
	box-sizing: border-box;
	-outline: 1px dashed var(--given-bg);
}

/* Output section */

#output-panel {
	position: fixed;
	z-index: 998;
	top: 0;
	width: 100%;
	height: 116px;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	-justify-content: space-between;
	background: var(--bg-1);
	transition-duration: 0.5s;
	transition-property: background, color;
}

#output-panel > * {
	margin-top: 6px;
}

#output-panel :not(.box) {
	transition-duration: 0.5s;
	transition-property: background, color, border-color, width, text-shadow;
}

#color-name {
	display: inline-block;
	color: var(--text-1);
	background: none;
	text-align: center;
	background: var(--bg-3);
	line-height: 28px !important;
	border-radius: 99px;
	border: 1px solid var(--bg-2);
	border-right-width: 32px;
	max-width: 100%;
}

/* Search icon 31/03/2022 */

#search-cont {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
}

#search-icon {
	position: absolute;
	top: 2px;
	right: 4px;
	fill: var(--match-bg);
	filter: drop-shadow(0 0 4px var(--shadow));
}

/* Search result - 30/03/2022 */

#search-result {
	position: absolute;
	z-index: 999;
	max-height: 0;
	width: calc(100vw - 40px);
	margin-top: 34px;
	box-shadow: 0 0 4px var(--shadow),
	            0 0 8px rgba(255,255,255,0.25);
	overflow: auto;
	border-radius: 16px;
	transition: max-height 0.2s !important;
}

#search-cont:focus-within > #search-result {
	max-height: 75vh;
}

#search-result > div {
	padding: 8px 12px;
}

#search-result > div.lighter {
	color: rgba(0,0,0,0.5);
}
#search-result > div.light {
	color: rgba(0,0,0,0.6);
}
#search-result > div.dark {
	color: rgba(255,255,255,0.8);
}
#search-result > div.darker {
	color: rgba(255,255,255,0.7);
}

#search-result > div > span {
	position: absolute;
	right: 8px;
	text-transform: uppercase;
	opacity: 0.6;
}

/* Color box & hex */

.box {
	height: 40px;
	border-radius: 20px;
	transition: background 0.2s;
}

.box.given {
	position: relative;
	width: 100%;
	background: var(--given-bg);
}

.box.match {
	position: absolute;
	right: 0;
	width: calc(50% + 10px);
	height: 100%;
	background: var(--match-bg);
	color: var(--given-bg);
	text-align: center;
	font-size: 24px;
	line-height: 40px !important;
}

#hex-container {
	width: calc(100% - 20px);
	display: flex;
	justify-content: space-around;
}

.hex {
	width: 80px;
	line-height: 24px !important;
	border-radius: 12px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	color: var(--text-2);
	background: var(--bg-3);
	border: 1px solid var(--bg-2);
}

.given:hover, hex.given:focus {
	border: 1px solid var(--given-bg);
	box-shadow: 0 0 4px var(--glow);
}

/* Settings - 27-03-2022 */

#settings {
	display: block !important;
	padding: 0 20px;
	text-align: center;
	height: 232px;
	background: var(--bg-1);
	transition: background 0.6s, height 0.3s;
}

#settings * {
	transition: color 0.5s;
}

#settings.collapse {
	width: initial;
	height: 24px !important;
}

#settings .colorspace-name {
	font-size: 16px;
	line-height: 24px !important;
}

.settings-item {
	display: block;
	font-size: 14px;
	line-height: 16px !important;
	color: var(--text-3);
	text-align: left;
	position: relative;
	margin-bottom: 8px;
}

.settings-item::first-line {
	font-size: 16px;
	color: var(--text-2);
}

.settings-item input {
	display: inline-block;
	position: absolute;
	top: 8px;
	right: 8px;
}

/* Input section */

#input-panel {
	padding: 0 20px;
	text-align: center;
	text-transform: uppercase;
}

.colorspace {
	margin-bottom: 8px;
	height: 232px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	overflow-y: hidden;
	font-size: 18px;
	transition: width 0.4s, height 0.5s;
}

.colorspace.collapse {
	height: 16px !important;
	width: 45px;
}

.colorspace .container {
	transition: opacity 0.3s
}

.colorspace.collapse .container {
	opacity: 0;
}

.colorspace.lchab.collapse, .colorspace.lchuv.collapse {
	width: 60px;
}

.hide-cap .colorspace {
	height: 120px;
}

.colorspace-name {
	color: var(--text-1);
	display: inline-block;
	transition: margin 0.3s, color 0.5s, text-shadow 0.5s;
}

#color-name, .colorspace-name {
	text-shadow: 0 0 1px var(--text-shadow),
	             0 0 2px var(--text-shadow);
}

.collapse .colorspace-name {
	color: var(--text-3);
}

.hide-cap .colorspace-name {
	margin-bottom: 8px;
}

/* Capsule style input/buttons */

.cap-wrapper {
	height: 40px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	transition: height 0.3s;
}

.cap-wrapper * {
	transition: background 0.7s, color 0.5s;
}

.hide-cap .cap-wrapper {
	height: 0;
}

.capsule {
	display: flex;
	overflow: hidden;
	width: 96px;
	height: 32px;
	border-radius: 16px;
	background: var(--bg-1);
}

.capsule > * {
	width: 50%;
	line-height: 32px !important;
	text-align: center;
	color: var(--text-2);
}

.cap-right {
	background: var(--bg-3);
}

.capinp {
	font-size: 14px;
	-moz-appearance:textfield; /* Firefox */
}

.capinp::-webkit-outer-spin-button,
.capinp::-webkit-inner-spin-button {
	display: none;
	/* -webkit-appearance: none;
	-margin: 0; */
}

.capbtn {
	font-size: 22px;
}

.slider {
	margin-bottom: 8px;
}

/* Removing default style from input fields */

input {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0; /* Firefox */
	font: inherit;
}

input:focus {
	outline: none !important;
}

input:invalid {
	box-shadow: none !important;
	color: #f00;
}

/* Styling range/slider input */

input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	height: 24px;
	background-color: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	background: var(--slider-track);
	transition: background 0.5s;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 4px;
	background: var(--slider-track);
	transition: background 0.5s;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	border: 4px solid var(--slider-track);
	border-radius: 50%;
	background: var(--slider-thumb);
	margin-top: -10px;
	transition: background 0.3s, border 0.5s;
}

input[type=range]::-moz-range-thumb {
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	border: 4px solid var(--slider-track);
	border-radius: 50%;
	background: var(--slider-thumb);
	margin-top: -10px;
	transition: background 0.3s, border 0.5s;
}

/* Live slider - 26/03/2022 */
/* Rewrite & transition update - 31/03/2022 */

.slider {
	background-repeat: no-repeat;
	background-size: 0 4px;
	background-position-x: center;
	background-position-y: 10px, 6px, 14px;
	transition: background-size 0.3s;
}

.live .slider {
	background-size: calc(100% - 24px) 4px;
}

.live .slider::-webkit-slider-thumb {
	background: var(--given-bg);
	border-width: 6px;
	border-color: var(--live-thumb);
	box-shadow: 0 0 3px rgba(0,0,0,0.25),
	            0 0 5px var(--given-bg);
}

.live .slider::-webkit-slider-runnable-track {
	background: none;
}

.live .slider::-moz-range-thumb {
	background: var(--given-bg);
	border-width: 6px;
	border-color: var(--live-thumb);
	box-shadow: 0 0 3px rgba(0,0,0,0.25),
	            0 0 5px var(--given-bg);
}

.live .slider::-moz-range-track {
	background: none;
}







