@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

body {
	--bg-1: #282828;
	--bg-2: #333;
	--bg-3: #444;
	--text-1: #eee;
	--text-2: #bbb;
	--text-3: #777;
	--slider-track: #666;
	--slider-thumb: #ccc;
	--live-thumb: #444;
	--shadow: rgba(0,0,0,0.5);
	--text-shadow: rgba(0,0,0,0.5);
	--glow: rgba(255,255,255,0.25);
	--settings-grad: linear-gradient(#333, #282828 25%, #ddd 75%, #eee);
}

body.light-theme {
	--bg-1: #eee;
	--bg-2: #ddd;
	--bg-3: #ccc;
	--text-1: #222;
	--text-2: #555;
	--text-3: #888;
	--slider-track: #999;
	--slider-thumb: #eee;
	--live-thumb: #eee;
	--shadow: rgba(0,0,0,0.25);
	--text-shadow: transparent;
	--glow: rgba(0,0,0,0.5);
}

body {
	margin: 0;
	padding-top: 120px;
	color: var(--text-2);
	background: var(--bg-2);
	font: 16px "Ubuntu Condensed";
	line-height: 1 !important;
	transition: background 0.8s;
}

* {
	box-sizing: border-box;
}

.outline * {
	outline: 1px dashed var(--given);
}

/* Output section */

#output-panel {
	position: fixed;
	z-index: 998;
	top: 0;
	width: 100%;
	height: 120px;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: unsafe top;
	background: var(--bg-1);
	transition-duration: 0.5s;
	transition-property: background, color;
}

#output-panel > * {
	margin-top: 6px;
}

#output-panel :not(.box) {
	transition-duration: 0.5s;
	transition-property: background, color, border-color, width, text-shadow, fill, opacity;
}

#color-name {
	display: inline-block;
	color: var(--text-1);
	background: none;
	text-align: center;
	background: var(--bg-3);
	line-height: 26px !important;
	border: 1px solid var(--bg-2);
	border-radius: 14px;
	border-right-width: 32px;
	max-width: 100%;
}

/* Search icon 31/03/2022 */

#search-cont {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
}

#search-icon, .copy-icon {
	position: absolute;
	top: 2px;
	right: 6px;
	fill: var(--match);
	filter: drop-shadow(0 0 1px var(--shadow));
}

/* Search result - 30/03/2022 */

#search-result {
	position: absolute;
	z-index: 999;
	max-height: 0;
	width: calc(100vw - 40px);
	margin-top: 75px;
	box-shadow: 0 2px 4px var(--shadow);
	overflow: auto;
	border-radius: 16px;
	transition: max-height 0.2s !important;
}

#search-cont:focus-within > #search-result, #search-result.near {
	max-height: calc(75vh - 75px);
}

#search-result > div {
	position: relative;
	background: var(--match);
	padding: 8px 12px;
}

#search-result > div.lighter {
	color: rgba(0,0,0,0.5);
}
#search-result > div.light {
	color: rgba(0,0,0,0.6);
}
#search-result > div.dark {
	color: rgba(255,255,255,0.8);
}
#search-result > div.darker {
	color: rgba(255,255,255,0.7);
}

#search-result > div > span {
	position: absolute;
	right: 12px;
	text-transform: uppercase;
	opacity: 0.6;
}

/* nearby colors delta value - 01/04/2022 */

#search-result > div[data-delta]::before {
	content: "";
	position: absolute;
	top: 0;
	right: 80px;
	width: 40px;
	height: 32px;
	background: linear-gradient(to top right, var(--given) 25%, transparent 75%);
	/*background-image: conic-gradient(transparent, var(--given));
		/*linear-gradient(135deg, var(--given), var(--match)), 
		linear-gradient(315deg, var(--given), var(--match));
		
	background-size: 50% 100%;
	background-repeat: no-repeat;
	background-position-x: 0, 20px;*/
}

#search-result > div[data-delta]::after {
	content: attr(data-delta);
	position: absolute;
	top: 0;
	right: 80px;
	width: 40px;
	line-height: 32px;
	text-align: center;
	opacity: 0.5;
}

/* Color box & hex */

.box {
	min-height: 40px;
	border-radius: 20px;
	transition: background 0.2s;
}

.box.given {
	position: relative;
	width: 100%;
	background: var(--given);
}

.box.match {
	position: absolute;
	right: 0;
	width: calc(50% + 10px);
	background: var(--match);
	color: var(--given);
	text-align: center;
	font-size: 24px;
	line-height: 40px !important;
}

/* re: hex & icons 02-04-2022 */

#hex-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

#hex-container > div {
	position: relative;
}

.hex {
	display: inline-block !important;
	width: 100px;
	line-height: 26px !important;
	border: 1px solid var(--bg-2);
	border-radius: 14px;
	font-size: 14px;
	color: var(--text-2);
	background: var(--bg-3);
	text-align: center;
	text-transform: uppercase;
}

.hex.given {
	border-left-width: 32px;
	padding-right: 4px;
}

.hex.match {
	border-right-width: 32px;
	padding-left: 4px;
}

.hex.given:hover, .hex.given:focus {
	border-color: var(--given);
	box-shadow: 0 0 4px var(--glow);
}

/* Copy & settings icon 02-04-2022 */

svg, svg * {
	transition: fill 0.2s, opacity 0.2s !important;
	-outline: 1px dashed var(--given);
}

.copy-icon.given {
	right: none;
	left: 6px;
	transform: scaleX(-1);
	fill: var(--given);
}

#settings-icon {
	fill: var(--text-3);
	margin: 2px 0;
}

#settings-icon.active {
	fill: var(--text-1);
}

/* 03-04-2022 */
.copy-icon {
	opacity: 0.75;
}

.copy-icon:hover {
	opacity: 1;
}

/* Settings - 27-03-2022 */

#settings {
	margin-bottom: 8px;
	padding: 0 20px;
	height: 216px;
	background-image: var(--settings-grad);
	background-size: 100% 400%;
	background-position: 0 0%;
	overflow: hidden;
	font-size: 18px;
	transition: background-position 0.6s, height 0.3s;
}

.light-theme #settings {
	background-position: 0 100%;
}

#settings.collapse {
	height: 0;
}

#settings * {
	transition: color 0.5s;
}

.settings-item {
	display: block;
	font-size: 14px;
	line-height: 16px !important;
	color: var(--text-3);
	text-align: left;
	position: relative;
	margin: 8px 0;
}

.settings-item::first-line {
	font-size: 16px;
	color: var(--text-2);
}

.settings-item input {
	display: inline-block;
	position: absolute;
	top: 8px;
	right: 8px;
}

/* Input section */

#input-panel {
	padding: 0 20px;
	text-align: center;
	text-transform: uppercase;
}

.colorspace {
	margin-bottom: 8px;
	height: 232px;
	width: 100%;
	display: inline-block;
	-vertical-align: top;
	overflow: hidden;
	font-size: 18px;
	transition: width 0.4s, height 0.5s;
}

.colorspace.collapse {
	height: 16px !important;
	width: 45px;
}

.colorspace .container {
	transition: opacity 0.3s
}

.colorspace.collapse .container {
	opacity: 0;
}

.colorspace.lchab.collapse, .colorspace.lchuv.collapse {
	width: 60px;
}

.hide-cap .colorspace {
	height: 120px;
}

.colorspace-name {
	color: var(--text-1);
	display: inline-block;
	transition: margin 0.3s, color 0.5s, text-shadow 0.5s;
}

#color-name, .colorspace-name {
	text-shadow: 0 0 1px var(--text-shadow),
	             0 0 2px var(--text-shadow);
}

.collapse .colorspace-name {
	color: var(--text-3);
}

.hide-cap .colorspace-name {
	margin-bottom: 8px;
}

/* Capsule style input/buttons */

.cap-wrapper {
	height: 40px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	transition: height 0.3s;
}

.cap-wrapper * {
	transition: background 0.7s, color 0.5s;
}

.hide-cap .cap-wrapper {
	height: 0;
}

.capsule {
	display: flex;
	overflow: hidden;
	width: 96px;
	height: 32px;
	border-radius: 16px;
	background: var(--bg-1);
}

.capsule > * {
	width: 50%;
	line-height: 32px !important;
	text-align: center;
	color: var(--text-2);
}

.cap-right {
	background: var(--bg-3);
}

.capinp {
	font-size: 14px;
	-moz-appearance:textfield; /* Firefox */
}

.capinp::-webkit-outer-spin-button,
.capinp::-webkit-inner-spin-button {
	display: none;
	/* -webkit-appearance: none;
	-margin: 0; */
}

.capbtn {
	font-size: 22px;
}

.slider {
	margin-bottom: 8px;
}

/* Removing default style from input fields */

input {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0; /* Firefox */
	font: inherit;
}

input:focus {
	outline: none !important;
}

input:invalid {
	box-shadow: none !important;
	color: #f00;
}

/* Styling range/slider input */

input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	height: 24px;
	background-color: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	background: var(--slider-track);
	transition: background 0.5s;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 4px;
	background: var(--slider-track);
	transition: background 0.5s;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	border: 4px solid var(--slider-track);
	border-radius: 50%;
	background: var(--slider-thumb);
	margin-top: -10px;
	transition: background 0.3s, border 0.5s;
}

input[type=range]::-moz-range-thumb {
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	border: 4px solid var(--slider-track);
	border-radius: 50%;
	background: var(--slider-thumb);
	margin-top: -10px;
	transition: background 0.3s, border 0.5s;
}

/* Live slider - 26/03/2022 */
/* Rewrite & transition update - 31/03/2022 */

.slider {
	background-repeat: no-repeat;
	background-size: 0 4px;
	background-position-x: center;
	background-position-y: 10px;
	transition: background 0.3s;
}

.live .slider {
	background-size: calc(100% - 24px) 4px;
}

/* 03/04/2022 */
.live.geek .slider {
	background-position-y: 14px, 10px, 6px;
}

.live .slider::-webkit-slider-thumb {
	background: var(--given);
	border-width: 6px;
	border-color: var(--live-thumb);
	box-shadow: 0 0 3px rgba(0,0,0,0.25),
	            0 0 5px var(--given);
}

.live .slider::-webkit-slider-runnable-track {
	background: none;
}

.live .slider::-moz-range-thumb {
	background: var(--given);
	border-width: 6px;
	border-color: var(--live-thumb);
	box-shadow: 0 0 3px rgba(0,0,0,0.25),
	            0 0 5px var(--given);
}

.live .slider::-moz-range-track {
	background: none;
}







